body {
  background-color: greenyellow; }

@font-face {
  font-family: Lato-Light;
  src: url(Fonts/Lato/Lato-Light.ttf); }

.header {
  background-color: blue;
  color: white; }
  .header .header_head_menu {
    margin-right: 30%; }
    .header .header_head_menu li {
      margin-right: 3%; }
