* {
  margin: 0;
  padding: 0;
  cursor: pointer; }
  *::selection {
    background: #22ffaf;
    color: red; }
  *:focus {
    outline: none; }

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  background-color: white;
  font-weight: 200; }
  body ul {
    list-style: none; }
  body a {
    text-decoration: none;
    color: white; }
  body button {
    font-family: "Lato", sans-serif; }

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 100px; }

.svg-icon {
  width: 40px;
  height: 30px; }

.icon_link {
  height: 30px;
  display: block; }
  .icon_link use {
    fill: white; }
  .icon_link:hover use {
    fill: #00dcaa; }

.header {
  background-color: black;
  position: fixed;
  z-index: 100;
  width: 100%; }

.button_style {
  width: 300px;
  border: 2px solid #00dcaa;
  padding: 15px 60px;
  background-color: transparent;
  color: #00dcaa;
  font-size: 30px; }
  .button_style:hover {
    background-color: black;
    border: 2px solid #00dcaa; }

.header_head {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 400;
  height: 70px; }
  .header_head .header_head_menu {
    display: flex; }
    .header_head .header_head_menu ul {
      display: flex; }
    .header_head .header_head_menu ul li {
      margin-right: 40px; }
      .header_head .header_head_menu ul li:hover {
        font-weight: 400;
        text-decoration: underline; }
  .header_head .header_head_contacts {
    display: flex;
    align-items: center; }
    .header_head .header_head_contacts ul {
      margin-right: 20px; }
    .header_head .header_head_contacts ul li {
      font-size: 18px; }
    .header_head .header_head_contacts .header_images {
      display: flex;
      align-items: flex-end;
      margin-right: 20px; }
    .header_head .header_head_contacts .icon {
      width: 25px;
      height: 25px;
      object-fit: cover;
      padding-right: 7px; }
      .header_head .header_head_contacts .icon:hover {
        color: white; }
    .header_head .header_head_contacts .header_head_authorization {
      display: flex;
      flex-direction: column;
      padding: 10px;
      font-size: 20px; }
      .header_head .header_head_contacts .header_head_authorization a:hover {
        color: #22ffaf;
        text-decoration: underline; }

.section {
  background-image: url(bg_header.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex; }

.full_height_banner .section {
  height: 100vh; }

.full_width .container {
  margin: auto auto;
  width: 100%; }

.info_watch_top .container {
  margin: 70px auto; }

.section_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #748f8b; }
  .section_main .section_main_booking h1 {
    font-weight: 600;
    font-size: 100px;
    color: black;
    text-shadow: #00dcaa 0 0 10px; }
  .section_main .section_main_booking h3 {
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 75px; }
  .section_main .section_main_menu {
    text-align: center; }
    .section_main .section_main_menu ul li {
      font-size: 30px;
      font-weight: 400;
      padding-bottom: 20px; }
    .section_main .section_main_menu a {
      color: #748f8b; }
      .section_main .section_main_menu a:hover {
        color: white;
        font-weight: 400;
        text-decoration: underline;
        text-decoration-color: #00dcaa;
        line-height: 1; }

.section_about_us {
  background-image: url(bg_about_us.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0; }

.section_about_us_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #748f8b; }
  .section_about_us_main .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px; }
  .section_about_us_main .dot {
    text-align: center;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 500%;
    margin-right: 5px; }
  .section_about_us_main .dot_empty {
    border: 1px solid #00dcaa;
    height: 5px;
    width: 5px; }
  .section_about_us_main .dot_full {
    background-color: #00dcaa; }
  .section_about_us_main .section_about_us_main_photo {
    width: 40%; }
    .section_about_us_main .section_about_us_main_photo img {
      width: 70%;
      display: block;
      height: auto; }
  .section_about_us_main .section_about_us_main_info {
    color: #748f8b;
    width: 40%; }
    .section_about_us_main .section_about_us_main_info h2 {
      font-size: 50px;
      text-shadow: #00dcaa 0 0 3px;
      font-weight: 200;
      text-transform: uppercase;
      padding-bottom: 60px;
      font-weight: 400; }
    .section_about_us_main .section_about_us_main_info #section_about_us_read_more:hover {
      background-color: #748f8b; }
  .section_about_us_main .section_about_us_main_info_text {
    padding-bottom: 60px;
    font-size: 24px;
    font-weight: 400; }

.section_dish {
  background-color: #eaf7f5;
  padding: 80px 0; }

.section_dish_day {
  color: #748f8b;
  text-align: center; }
  .section_dish_day .section_dish_day_items {
    display: flex;
    justify-content: center; }
  .section_dish_day .section_dish_day_item {
    width: 40%;
    min-width: 300px; }
  .section_dish_day h2 {
    font-size: 50px;
    text-shadow: #00dcaa 0 0 3px;
    text-transform: uppercase;
    padding-bottom: 60px; }
  .section_dish_day img {
    width: 100%;
    height: auto; }
  .section_dish_day h3 {
    font-weight: 400;
    font-size: 40px;
    color: black; }
  .section_dish_day .section_dish_day_item_info {
    background-color: white;
    padding: 30px 25px;
    margin: -5px 0; }
  .section_dish_day .section_dish_day_item_content {
    display: flex;
    justify-content: center; }
  .section_dish_day .section_dish_day_item_info_text {
    padding-bottom: 20px;
    font-size: 24px;
    color: black; }
  .section_dish_day .section_dish_day_item_info_more {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .section_dish_day .section_dish_day_item_info_more .button_style {
      width: 160px;
      padding: 10px 20px;
      font-size: 22px; }
  .section_dish_day .section_dish_day_item_info_more_price {
    color: #00dcaa;
    font-weight: 400;
    font-size: 22px; }

.horisont_line {
  height: 2px;
  color: #00dcaa;
  background-color: #00dcaa;
  border: none;
  width: 160px;
  margin: 10px auto; }

.vertical_line {
  height: 80px;
  color: #00dcaa;
  background-color: #00dcaa;
  border: none;
  width: 2px;
  margin-right: 10%; }

.section_about_us_main_info_line {
  display: flex; }

.section_reviews {
  background-color: #222222;
  padding: 80px 0; }

.section_reviews_item {
  text-align: center;
  color: white;
  width: 70%;
  margin: 0 auto; }

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto; }
  .slideshow-container .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
  .slideshow-container .mySlides {
    display: none; }
  .slideshow-container .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 25px;
    color: #748f8b;
    font-weight: bold;
    font-size: 25px;
    transform: translateY(-50%);
    transition: 0.6s ease;
    left: -100px;
    border-radius: 0 3px 3px 0;
    user-select: none; }
    .slideshow-container .prev:hover {
      background-color: rgba(116, 143, 139, 0.8);
      color: #22ffaf; }
  .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    padding: 25px;
    color: #748f8b;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; }
    .slideshow-container .next:hover {
      background-color: rgba(116, 143, 139, 0.8);
      color: #22ffaf; }
  .slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: -70px; }

.section_reviews_item_content .doter {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #748f8b;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  .section_reviews_item_content .doter:hover {
    background-color: #22ffaf; }

.section_reviews_item_content .active {
  background-color: #22ffaf; }

.section_reviews_item_content h2 {
  font-size: 50px;
  text-shadow: #00dcaa 0 0 3px;
  text-transform: uppercase;
  padding-bottom: 60px;
  color: #748f8b; }

.section_reviews_item_content .section_reviews_buttons .button_style {
  width: 30%;
  padding: 10px 20px;
  font-size: 22px;
  margin-top: 30px; }
  .section_reviews_item_content .section_reviews_buttons .button_style:hover {
    background-color: #748f8b; }

.section_reviews_item_content .section_reviews_buttons a {
  color: #00dcaa; }

.section_reviews_item_content .section_reviews_item_content_text {
  padding-bottom: 30px;
  font-size: 24px; }

.section_reviews_item_content .section_reviews_item_content_person img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding-bottom: 15px; }

.footer {
  background-color: #eaf7f5;
  padding-top: 60px;
  padding-bottom: 10px;
  color: #222222;
  font-weight: 400; }
  .footer a {
    color: #222222; }

.footer_content_main {
  display: flex;
  justify-content: space-between; }
  .footer_content_main .footer_content_main_follow .icon_link {
    height: 30px;
    display: block; }
    .footer_content_main .footer_content_main_follow .icon_link use {
      fill: #222222; }
    .footer_content_main .footer_content_main_follow .icon_link:hover use {
      fill: #00dcaa; }
  .footer_content_main .footer_content_main_navigation li :hover {
    font-weight: 400;
    text-decoration: underline; }
  .footer_content_main h4 {
    font-size: 22px;
    padding-bottom: 10px;
    text-shadow: #00dcaa 0 0 3px;
    text-transform: uppercase; }
  .footer_content_main li {
    padding-bottom: 5px; }
  .footer_content_main .footer_images {
    display: flex;
    justify-content: space-between; }
  .footer_content_main .name_restaurant {
    font-weight: 400;
    text-shadow: #00dcaa 0 0 7px;
    font-size: 20px;
    color: black; }
  .footer_content_main .email_restaurant a {
    color: #00dcaa;
    font-weight: 400; }
    .footer_content_main .email_restaurant a:hover {
      text-decoration: underline; }

.footer_content_copyright {
  text-align: center;
  font-size: 14px;
  font-weight: 400; }

.pop_up_container {
  width: 100%;
  margin: 0 auto; }

.sections_info {
  margin: auto;
  background-image: url(bg_header.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 400px;
  display: flex;
  align-items: center;
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px 0; }

.forms {
  text-align: center;
  margin: 0 auto; }
  .forms h2 {
    color: #22ffaf;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 20px;
    text-transform: uppercase; }
  .forms .forms_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; }
    .forms .forms_inputs textarea {
      width: 250px;
      background-color: #15333e;
      border: none;
      color: #22ffaf;
      padding: 10px;
      resize: none; }
      .forms .forms_inputs textarea:focus {
        outline-color: #22ffaf; }
    .forms .forms_inputs input {
      width: 250px;
      background-color: #15333e;
      padding: 10px;
      margin: 10px;
      border: none;
      color: #22ffaf; }
      .forms .forms_inputs input:focus {
        outline-color: #22ffaf; }
    .forms .forms_inputs select {
      width: 270px;
      background-color: #15333e;
      padding: 10px;
      margin: 10px;
      border: none;
      color: #22ffaf; }
    .forms .forms_inputs ::placeholder {
      color: #eaf7f5; }
  .forms .horisont_line {
    width: 100%; }
  .forms .form_sign_in_links {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 13px;
    font-weight: 400; }
    .forms .form_sign_in_links a:hover {
      text-decoration: underline; }
    .forms .form_sign_in_links #register_now {
      color: #22ffaf; }
    .forms .form_sign_in_links #forgot_password {
      color: #f4705e; }
  .forms .form_sign_in_content {
    margin: 0 auto;
    width: 270px; }

.section_form {
  display: none; }

.button_style_form {
  width: 270px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #f4705e;
  color: #22ffaf;
  font-size: 18px;
  font-weight: 600; }
  .button_style_form:focus {
    outline-color: #f4705e; }
  .button_style_form:hover {
    background-color: #22ffaf;
    color: #15333e; }

.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-zoom-out .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3); }
  .mfp-zoom-out.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out; }
  .mfp-zoom-out.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1); }
  .mfp-zoom-out.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-zoom-out.mfp-removing .mfp-with-anim {
    transform: scale(1.3);
    opacity: 0; }
  .mfp-zoom-out.mfp-removing.mfp-bg {
    opacity: 0; }

.popup_overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 60, 70, 0.7);
  z-index: 100; }

.cross {
  height: 30px;
  width: 30px;
  background-color: #000e1e;
  border-radius: 5px;
  position: relative;
  margin-left: 320px;
  margin-bottom: 20px;
  margin-top: -20px; }
  .cross:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\2573";
    font-size: 20px;
    color: #f4705e;
    line-height: 30px;
    text-align: center;
    transform: rotate(-90deg);
    transition-duration: 500ms; }
  .cross:hover:after {
    color: #22ffaf;
    transform: rotate(90deg);
    transition-duration: 500ms; }

@media (max-width: 1200px) {
  .header_head {
    flex-direction: column-reverse; }
    .header_head .header_head_menu {
      padding-bottom: 20px; }
      .header_head .header_head_menu ul li {
        margin: 0 20px; }
    .header_head .header_head_contacts {
      padding: 20px 0; }
  .full_width .container {
    margin-top: 30vh; }
  .info_watch_top .container {
    margin: 70px 0; }
  .section_main .section_main_booking h3 {
    font-size: 30px; }
  .section_about_us .section_about_us_main {
    justify-content: space-around; }
  .section_about_us .section_about_us_main_info h2 {
    font-size: 40px; }
  .section_about_us .section_about_us_main_info .section_about_us_main_info_text {
    font-size: 20px; }
  .section_about_us .vertical_line {
    height: 70px; }
  .section_dish_day h2 {
    font-size: 40px; }
  .section_reviews_item_content h2 {
    font-size: 40px; }
  .section_reviews_item_content .auther_name {
    font-size: 16px; }
  .section_reviews_item_content .section_reviews_item_content_text {
    font-size: 20px; }
  .footer .footer_content_main {
    font-size: 14px; }
    .footer .footer_content_main h4 {
      font-size: 18px; }
  .footer .footer_content_copyright {
    font-size: 12px; } }

@media (max-width: 770px) {
  .header {
    position: static; }
  .header_head .header_head_menu ul {
    flex-direction: column;
    text-align: center; }
    .header_head .header_head_menu ul li {
      font-size: 30px; }
  .header_head .header_head_contacts {
    flex-direction: column; }
    .header_head .header_head_contacts ul {
      margin-right: 0px;
      margin-bottom: 20px; }
    .header_head .header_head_contacts ul li {
      font-size: 20px; }
    .header_head .header_head_contacts .header_head_authorization {
      font-size: 25px;
      padding: 0px;
      text-align: center; }
    .header_head .header_head_contacts .header_images {
      margin-right: 0px;
      margin-bottom: 20px; }
  .section_main {
    justify-content: center; }
    .section_main .section_main_menu {
      display: none; }
    .section_main .section_main_booking {
      text-align: center;
      font-size: 85px; }
      .section_main .section_main_booking h3 {
        font-size: 20px;
        font-weight: 400; }
  .full_width .container {
    margin-top: 20vh; }
  .section_about_us .button_style {
    width: 200px;
    font-size: 16px; }
  .section_about_us .section_about_us_main .vertical_line {
    height: 60px; }
  .section_about_us .section_about_us_main_info {
    font-weight: 400; }
    .section_about_us .section_about_us_main_info h2 {
      font-size: 30px;
      font-weight: 400; }
    .section_about_us .section_about_us_main_info .section_about_us_main_info_text {
      font-size: 16px; }
  .section_dish_day {
    font-weight: 400; }
    .section_dish_day h2 {
      font-size: 30px;
      font-weight: 400; }
    .section_dish_day .section_dish_day_item h3 {
      font-size: 25px;
      font-weight: 600; }
    .section_dish_day .section_dish_day_item .section_dish_day_item_info_text {
      font-size: 20px; }
    .section_dish_day .section_dish_day_item .section_dish_day_item_info_more {
      flex-direction: column; }
      .section_dish_day .section_dish_day_item .section_dish_day_item_info_more .button_style {
        width: 200px;
        font-size: 16px; }
    .section_dish_day .section_dish_day_item .section_dish_day_item_info_more_price {
      padding-bottom: 20px; }
  .section_reviews_item_content {
    font-weight: 400; }
    .section_reviews_item_content h2 {
      font-size: 30px;
      font-weight: 400; }
    .section_reviews_item_content .section_reviews_item_content_text {
      font-size: 16px; }
    .section_reviews_item_content .auther_name {
      font-size: 14px; }
  .footer .footer_images {
    justify-content: center; }
  .footer .footer_content_main {
    flex-direction: column;
    text-align: center; }
  .footer .footer_content_main_navigation {
    margin-bottom: 15px; }
  .footer .footer_content_main_follow {
    margin-bottom: 15px; }
  .footer .footer_content_main_hours {
    margin-bottom: 15px; }
  .footer .footer_content_main_location {
    margin-bottom: 15px; } }

@media (max-width: 500px) {
  .section {
    height: 80vh; }
  .container {
    padding: 0; }
  .section_main .button_style {
    width: 200px;
    font-size: 16px;
    padding: 15px 50px; }
  .section_about_us_main {
    flex-direction: column;
    text-align: center; }
    .section_about_us_main .section_about_us_main_photo {
      margin-bottom: 20px; }
  .section_about_us .section_about_us_main .vertical_line {
    height: 60px; }
  .section_about_us .section_about_us_main_photo {
    width: 55%; }
  .section_about_us .section_about_us_main_info {
    width: 70%;
    margin-top: 30px; }
    .section_about_us .section_about_us_main_info h2 {
      font-size: 25px; }
    .section_about_us .section_about_us_main_info .vertical_line {
      height: 50px; }
    .section_about_us .section_about_us_main_info .section_about_us_main_info_text {
      font-size: 16px; }
    .section_about_us .section_about_us_main_info .section_about_us_main_info_line {
      justify-content: center; }
  .section_dish_day h2 {
    font-size: 25px; }
  .section_dish_day h3 {
    font-size: 20px; }
  .section_dish_day .section_dish_day_item {
    min-width: 250px; }
    .section_dish_day .section_dish_day_item .section_dish_day_item_info_text {
      font-size: 16px; }
  .section_reviews_item_content h2 {
    font-size: 25px; }
  .section_reviews_item_content .section_reviews_item_content_text {
    font-size: 16px; }
  .section_reviews_item_content .auther_name {
    font-size: 14px; } }

.section_main_table {
  flex-direction: column;
  text-align: center;
  margin: auto; }
  .section_main_table .table {
    font-size: 14;
    text-align: center;
    background-color: #f1f1f1;
    color: black;
    margin-right: 7px;
    padding: 10px;
    font-weight: 400; }
    .section_main_table .table th::first-letter {
      color: #0e8072; }
    .section_main_table .table td {
      font-size: 14px;
      padding: 10px 20px;
      vertical-align: baseline;
      border-bottom: 3px solid #748f8b; }
    .section_main_table .table thead th {
      vertical-align: middle;
      border-bottom: 3px solid white; }
    .section_main_table .table th {
      font-size: 16px;
      padding: 0.55rem;
      vertical-align: middle;
      border-top: 2px solid white; }
    .section_main_table .table td:nth-child(1),
    .section_main_table .table td:nth-child(2) {
      padding: 0;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      width: 30px; }
    .section_main_table .table .delF,
    .section_main_table .table .editF {
      margin: 0;
      font-family: inherit;
      font-size: 14px;
      line-height: inherit;
      background-color: #0e8072;
      border: 2px solid black;
      height: 25px;
      width: 30px;
      font-weight: 700; }
    .section_main_table .table .delF:hover {
      background-color: #900; }
    .section_main_table .table .editF:hover {
      background-color: blue; }
    .section_main_table .table .addF,
    .section_main_table .table .saveF {
      background-color: black;
      color: white;
      font-size: 14px;
      width: 120px;
      height: 50px;
      font-weight: 700;
      border-radius: 40px;
      border: none;
      margin-top: 20px;
      margin-bottom: 15px; }
      .section_main_table .table .addF:hover,
      .section_main_table .table .saveF:hover {
        background-color: #0e8072;
        color: black;
        border: 4px solid black;
        font-weight: 700; }
  .section_main_table .buttonAddPerson {
    background-color: black;
    color: white;
    font-size: 14px;
    width: 120px;
    height: 50px;
    border-radius: 40px;
    border: none;
    margin-top: 20px; }
    .section_main_table .buttonAddPerson:hover {
      background-color: #0e8072;
      color: black;
      border: 4px solid black;
      font-weight: 700; }

.name_admin_section {
  font-size: 25px;
  text-shadow: #00dcaa 0 0 3px;
  color: #000e1e;
  text-transform: uppercase;
  padding: 30px; }

.slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -70px; }

.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -70px; }

/*# sourceMappingURL=styles.css.map */
